
###> symfony/framework-bundle ###
/.env*
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> custom ###
.idea
node_modules*
test*
yarn*
ti_nouveau.sql
ti_existant_complet.sql
###< custom ###