#results {
  .search-main-title {
    font-size: 28px;
    color: #003B71;
    font-weight: normal;
  }

  .cutome--title {
    color: #337ab7;
    font-size: 20px;

    a {
      color: #337ab7;
      text-decoration: none;
      font-size: 20px;
    }
  }

  nav {
    font-size: 16px;
  }
}

#affiner_recherche {
  padding: 5px 15px 5px 15px;
  background: #eee;
  border-radius: 6px;

  h2 {
    font-size: 22px;
    color: #303030 !important;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    margin: 0;
    padding-right: 10px;
  }
}