<div class="col-12 col-lg-9">
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-success ">Valider</button>
    </div>
    {{ form_end(form) }}
</div>