{% extends 'backOffice/base/base_admin.html.twig' %}

{% block header %}
    {{ include('backOffice/base/parts/header.html.twig',
        {"breadcrumb":[
            [path('_admin_home'), "Options"],
            [path('_options_new'), "nouvelle option"]
        ]}) }}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <div class="form-group card-custom p-3">
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-right">
                <button class="btn btn-success" type="submit">Soumettre</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

