.checkboxCascade {
  .fas {
    cursor  : pointer;
    color   : #E26648;
    padding : 0;
  }
  label {
    margin-top    : 0;
    margin-bottom : 0;
  }
  ul {
    margin : 0;
    list-style: none;
    li{
      list-style: none;
    }
  }
}
