<header class="shadow-custom">
    <div>
        <h1>
            <a href="{{ path('_admin_home') }}">admin</a> - <a href="{{ path('home') }}">site</a>
        </h1>
    </div>
    <div>
        <p>
            {% if breadcrumb is defined %}
                {% for b in breadcrumb %}
                    <span><a href="{{ b[0] }}"> {{ b[1] }}</a></span>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</header>