<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    {% if output is defined %}
        <p>{{ output | raw }}</p>
    {% endif %}
    <ul id="liste"></ul>
    <a href="{{ url('caching', {"t": "reload"}) }}">Mettre en cache</a>
    <hr>
    <button type="button" id="button" class="btn btn-dark">soumetre !</button>
</div>

<div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</div>

<script>
    jQuery(document).ready(function () {
        let count = 0;
        let action = 0;
        let max = 400;

        let button = document.getElementById('button');
        let liste = document.getElementById('liste');
        button.addEventListener('click', function (e) {
            e.stopImmediatePropagation();
            e.preventDefault();
            button.setAttribute("disabled", "disabled");

            for (let i = 0; i < max; i++) {
                addLiElt(i);
            }

            setInterval(call, 1000);

            function call() {
                if (action < 5) {
                    const selfCount = count;
                    action++;
                    setWaiting(count);
                    jQuery.ajax({
                        type: 'GET',
                        url: '{{ url('caching') }}?i=' + Number(selfCount),
                        timeout: 1800000,
                        success: function (data) {
                            action--;
                            setOk(data.data)
                        },
                        error: function () {
                            setFail(selfCount);
                            console.log('La requête n\'a pas abouti');
                        }
                    });
                    count++
                }
            }
        });

        function addLiElt(i) {
            let liElt = document.createElement('li');
            liElt.setAttribute('class', "btn-dark p-1 m-1");
            liElt.setAttribute('id', "action-" + i);
            liElt.innerHTML = 'en attente - ' + i;
            liste.appendChild(liElt);
        }

        function setWaiting(data) {
            let liElt = document.getElementById("action-" + data);
            liElt.setAttribute('class', "btn-warning p-1 m-1");
        }

        function setOk(data) {
            let liElt = document.getElementById("action-" + data);
            liElt.setAttribute('class', "btn-success p-1 m-1");
        }

        function setFail(data) {
            let liElt = document.getElementById("action-" + data);
            liElt.setAttribute('class', "btn-danger p-1 m-1");
        }
    });
</script>

</body>
</html>