{% for k, domain in domains %}
    {% if k != app.request.locale %}
        <li>
            <a hreflang="{{ 'https://www.'~domain.domain }}"
            href="{{ 'https://www.'~domain.domain }}">
            <img src="{{ asset('build/img/front/flags/'~domain.img) }}"
                 alt="{{ domain.hreflang }}">
            </a>
        </li>
    {% endif %}
{% endfor %}