{% extends 'base.html.twig' %}

{% block title %}tests{% endblock %}

{% block body %}
    {% if form is defined %}
        {{ form_start(form) }}
        <div class="checkboxCascade">
            <ul>
                {% include 'form.html.twig' with {'form': form.children.activity.children, 'structure': structureActivities, 'lvl': 0} %}
            </ul>
            <hr>
            <ul>
                {% include 'form.html.twig' with {'form': form.children.servedZone.children, 'structure': structureServedZone, 'lvl': 0} %}
            </ul>
        </div>
        <input type="submit" value="Envoyer">
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
