{% extends 'base.html.twig' %}

{% block body %}
    {% include 'parts/top.html.twig' %}
    <div class="container">
        {{ render(controller('App\\Controller\\Front\\renderController::getHeader')) }}
    </div>
    {% include 'client/account/parts/header.html.twig' %}

    <div class="container">
        <div class="row">
            {% include 'client/account/parts/nav.html.twig' %}
            {{ form_start(form) }}
            {{ render(controller('App\\Controller\\Front\\RenderController::getCheckboxCascade',
            {'entities': activities, 'form': form.children.activity.children})) }}
            <div class="text-right">
            <button type="submit" class="btn btn-success">Soumettre</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}