{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% include 'parts/top.html.twig' %}
    <div class="container">
        {{ render(controller('App\\Controller\\Front\\renderController::getHeader')) }}
    </div>
    {% include 'client/account/parts/header.html.twig' %}

    <div class="container">
        <div class="row">
            {% include 'client/account/parts/nav.html.twig' %}
            {% include'client/account/defaultForm.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/auto-complete-min.js') }}"></script>
    <script src="{{ asset('build/js/autocompleteCustom.js') }}"></script>
{% endblock %}