{% extends 'base.html.twig' %}

{% block body %}
    {% include 'parts/top.html.twig' %}
    {{ render(controller('App\\Controller\\Front\\renderController::getHeader')) }}
    <div class="container">
        <div class="row">
            {% include 'client/account/parts/header.html.twig' %}
            {% include 'client/account/parts/nav.html.twig' %}
            {{ form_start(form) }}
            {{ render(controller('App\\Controller\\renderController::getCheckboxCascade',
                {'entities': servedZone, 'form': form.children.servedZone.children})) }}
            <div class="text-right">
                <button type="submit" class="btn btn-success">Soumettre</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}