<div class="col-sm-12 jumbotron mt-2">
    <h2 class="text-center">
        <span>
            {% if app.user.name is defined %}
                <strong>{{ app.user.name }}</strong>
            {% endif %}
            {{ 'header.dashboard' | trans({}, 'account') }}
        </span>
    </h2>
</div>