<div class="col-12 col-lg-3 p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0" id="sidebar-nav">
        <a class="navbar-brand d-lg-none p-2" href="#">{{ 'nav.name' |trans({}, 'account') }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav flex-column w-100">
                {% for v in ['legalInformation', 'location', 'contact', 'coreBusiness', 'user', 'managers', 'equipment', 'about', 'activity', 'servedZone'] %}
                    {#'location', 'contact', 'coreBusiness', 'user', 'managers', 'equipment', 'about', 'activity', 'servedZone'#}
                    <li class="nav-item active {% if app.request.get('_route') matches '/'~v~'/' %}alert-secondary{% endif %}">
                        <a class="nav-link p-2"
                           href="{{ path('account_'~v~app.request.get('locale')) }}">
                            {{ ('nav.'~v)  | trans({}, 'account') }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
