{% extends 'backOffice/base/base_admin.html.twig' %}

{% block header %}
    {{ include('backOffice/base/parts/header.html.twig',
        {"breadcrumb":[
            [path('_admin_home'), "Accueil"]
        ]}) }}
{% endblock %}

{% block content %}
    <div class="form-group card-custom p-3 text-center">
        <h2 class="text-center">Outils</h2>
        <a class="btn btn-outline-danger" href="{{ path('_manager_cache') }}">Réinitialiser le cache</a>
        <a class="btn btn-outline-danger" href="{{ path('_manager_xml') }}">Réinitialiser les fichiers xml</a>
    </div>
{% endblock %}