<!DOCTYPE html>
<html>
<head>
    <title>Nouvel inscrit</title>
</head>
<body>
<h1>un nouvel utilisateur vient de s'inscrire !</h1>
<a href="{{ content.url }}">{{ content.client.legalInformation.corporateName ?? content.client.legalInformation.companyName }}</a>
</body>
</html>